<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link
  href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Lobster+Two:ital@1&family=Merriweather:ital,wght@1,700&display=swap"
  rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script defer src="/javascripts/script.js"></script>
  <title><%= title %></title>
</head>


<body>
  <nav class="nav-extended">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo center" id="logo-text">Sophia</a>
      <ul class="right">
        <li>
          <% if (user) { %>
          <a href="/auth/logout" class="nav-links">Log Out</a>
          <% } else { %>
          <a href="/auth/google" class="nav-links">Login with Google</a>
          <% } %>
        </li>
      </ul>
      <a href="#" data-target="slide-out" class="sidenav-trigger nav-links"><i class="material-icons">menu</i></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/users/profile" class="nav-links">Profile</a></li>
        <li><a href="/users/:id/topics" class="nav-links">Topics</a></li>
        <li><a href="/contents/urgent" class="nav-links">Urgent</a></li>
        <!-- <li><a href="" class="nav-links">Friends</a></li> -->
        <li><a href="" class="nav-links">Notes</a></li>
      </ul>
    </div>
  </nav>

  <!-- router.get('/', usersCtrl.index); -->

  <ul class="sidenav" id="slide-out">
    <li><a href="/users/profile" >Profile</a></li>
    <li><a href="/users/:id/topics" >Topics</a></li>
    <li><a href="/contents/urgent" >Urgent</a></li>
    <!-- <li><a href="" >Friends</a></li> -->
    <li><a href="" >Notes</a></li>
  </ul>