html {
  box-sizing: border-box
}

/* The Universal Selector */
*,
/* All elements*/
*::before,
/* All ::before pseudo-elements */
*::after {
  /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: inherit;
}

:root {
  font-size: 62.5%
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  height: 100vh;
  margin: 0;
}

.container {
  height: 100vh
}

.nav-links {
  font-size: 1.75rem;
}

/* Text */

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 4.5rem
}

h3 {
  font-size: 3rem
}

h4 {
  font-size: 2rem
}

p {
  font-size: 1.5rem;
}

label {
  font-size: 2rem;
}

.info {
  font-size: 2rem;
}

#search-row form {
  padding-top: 20px;
}

#notes-card {
  background-color: lightgray;
}

#friend {
  background-color: lightgray;
}

.collapsible-header {
  display: flex;
  flex-direction: column
}

body {
  background-color: #7e57c2
}

/* nav */
nav {
  background-color: #b39ddb
}

/* Logo */
.brand-logo {
  margin-left: 15px;
}

#logo-text {
  font-family: 'Lobster Two', cursive;
  font-size: 4rem;
}

/* sidenav */
.sidenav {
  background-color: #b39ddb;
}

.sidenav li {
  margin: 40px auto;
}

.sidenav li>a {
  font-size: 3rem;
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#topic-name {
  font-size: 2.5rem;
}

#topics-card {
  padding: 20px;
}

#input-row {
  padding: 5px 10px;
}

label {
  color: black;
}

#user-card {
  display: flex;
  flex-direction: row
}

.collapsible-body {
  background-color: white
}

#notes {
  background-color: darkblue;
  height: 70vh;
  color: white;
  font-size: 3rem;
}

