<%- include('../partials/header') %>
<h1>Your notes!</h1>

<section class="container">
  <ul class="collapsible">
    <% topics.forEach(topic => {%>
    <%topic.contents.forEach(content => {%>
    <% if(content.notes) { %>
    <li>
      <div class="collapsible-header">
        <h1>Topic Name: <%=topic.name%></h1>
      </div>
      <div class="collapsible-body">
        <%- markdown.render(content.notes)%>
      </div>
    </li>
    <%}%>
      <%})%>
    <%})%>
  </ul>
</section>



<%- include('../partials/footer') %>