<!-- <%- include('../partials/header') %>

<ul>Registered Users:
  <% users.forEach(u => { %>
  <li>
    <div class="card">
      <div class="card-content">
        <%= u.name %>
        <%console.log(u) %>
        <a href="/users/<%=u._id%>/friend">Add Friend</a>
      </div>
    </div>
  </li>

  <% }) %>
</ul>

<%- include('../partials/footer') %> -->