<%- include('../partials/header') %>

<section class="container">
  <ul>Registered Users:
    <% users.forEach(u => { %>
    <li>
      <div class="card">
        <div class="card-content">
          <h2><%= u.name %></h2>
          <a href="/users/<%=u._id%>/friend" class="btn">Add Friend</a>
        </div>
      </div>
    </li>

    <% }) %>
  </ul>
</section>


<%- include('../partials/footer') %>