<%- include('../partials/header') %>

<h2>Select any areas you are interested in studying below</h2>
<form>
  <!-- <div class="input-field col s6">
    <input id="last_name" type="text" class="validate">
    <label for="last_name">Last Name</label>
  </div>   -->
  <!-- get a hold of input, add an event listener to update buttons bellow. -->

  <!-- add button, with style toggle and iterate to render -->
  <a class="waves-effect waves-light btn">button</a>
  <!-- submit form, whats the action? should update the users profile with topics and then redirect to the next part of user profile population. -->
  <button class="btn waves-effect waves-light" type="submit" name="action">Submit
    <i class="material-icons right">send</i>
  </button>

</form>

<%- include('../partials/footer') %>