<%- include('../partials/header') %>

<h1>Here are all of your topics</h1>
<div class="container">
  <% topics.forEach(topic => { %>
    
  <div class="card">
    <%= topic.name %>
  </div>

  <% }) %>

</div>


<%- include('../partials/footer') %>